body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.viewport {
  height: 100vh;
}

#slider > .carousel-control-next, #slider > .carousel-control-prev {
  width: 9%;
}

.widget-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.widget-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#grade table .form-check-inline {
  margin-right: inherit;
}

#grade table .form-check {
  margin-bottom: inherit;
}

.cb-gpa {
  white-space: nowrap;
}

.cb-gpa input.form-check-input {
  position: inherit;
  margin-left: inherit;
}

.cb-gpa label.form-check-label {
  padding-left: inherit;
}